.serversTableContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  h2 {
    margin-bottom: 10px;
  }
  .serversHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    // p {
    //   margin: none;
    //   padding: none;
    // }

    button {
      width: 15%;
      padding: 14px 0;
      text-align: center;
      color: #000;
      background: #6db1f3;
      font-size: 16px;
      line-height: 16px;
      font-family: GteDisplayBold;
      border-radius: 30px;
      text-decoration: none;
    }
  }

  .serversTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #000;
      color: #fff;
    }

    button {
      margin-right: 5px;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: 5px 10px;
      margin: 0 5px;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    span {
      margin: 0 10px;
    }
  }
}
