@use "sass:color"; // Импортируем модуль color для использования новых функций

.contentSettings {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  z-index: 1;
  
  input, select, button {
    pointer-events: auto;
  }
  
  input[type="text"], input[type="password"] {
    cursor: text;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #000;
      color: #fff;
    }
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  button {
    padding: 8px 16px;
    background-color: #6db1f3; // Новый цвет кнопок
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: color.adjust(
        #6db1f3,
        $lightness: -10%
      ); // Используем color.adjust вместо darken
    }
  }

  .password-form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      label {
        font-weight: bold;
        margin-right: 10px;
        width: 150px; // Фиксированная ширина для лейблов
      }

      input[type="password"] {
        width: 200px; // Уменьшаем ширину инпутов для паролей
        padding: 8px;
        box-sizing: border-box;
      }
    }

    button {
      align-self: flex-start; // Кнопка "Сменить пароль" не будет растягиваться на всю ширину
      width: 200px; // Устанавливаем ширину кнопки, чтобы она соответствовала ширине формы
    }
  }

  .error {
    color: red;
    margin-bottom: 15px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
